**/.DS_Store
*.project
*.classpath
*.springbeans
*.iml
**/*.settings
**/target
**/bin
**/build
**/RemoteSystemsTempFiles
**/servers
**/.metadata
**/.settings
**/.idea
**/out
**/.recommenders
**/*.gitignore
**/Servers
**/*.log
